Flow Node-RED/flows.json
[{"id":"7cad89d9.ba5668","type":"tab","label":"RPi CPU","disabled":false,"info":""},{"id":"447c6f81.3b7a","type":"tab","label":"Weater Station","disabled":false,"info":""},{"id":"e0d8b132.ecea5","type":"ui_tab","name":"Raspberry Pi Status","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"46587.1a33aa7a","type":"ui_group","name":"Control Panel","tab":"","order":1,"disp":true,"width":8,"collapse":false},{"id":"7fa8e646.93d818","type":"ui_group","name":"Monitor","tab":"","order":2,"disp":true,"width":18,"collapse":false},{"id":"f8789571.c993f8","type":"ui_group","name":"CPU Temperature","tab":"e0d8b132.ecea5","order":2,"disp":true,"width":6,"collapse":false},{"id":"442a1f5e.36704","type":"ui_group","name":"Script Execution","tab":"","order":2,"disp":true,"width":16,"collapse":false},{"id":"7066b80c.621798","type":"ui_group","name":"Variables Log","tab":"","order":3,"disp":true,"width":15,"collapse":false},{"id":"d6db2d5a.3526","type":"ui_spacer","name":"spacer","group":"","order":2,"width":1,"height":1},{"id":"1ae6265a.f355ba","type":"ui_spacer","name":"spacer","group":"","order":4,"width":1,"height":1},{"id":"929232bd.cc2d1","type":"ui_spacer","name":"spacer","group":"","order":6,"width":2,"height":1},{"id":"cf49aa8e.acab38","type":"ui_spacer","name":"spacer","group":"","order":8,"width":1,"height":1},{"id":"cf5add25.337cb","type":"ui_spacer","name":"spacer","group":"","order":10,"width":1,"height":1},{"id":"e78659cf.42d658","type":"ui_spacer","name":"spacer","group":"","order":12,"width":2,"height":1},{"id":"91ceb172.9274e","type":"ui_spacer","name":"spacer","group":"","order":14,"width":1,"height":1},{"id":"d5a0a547.fb4d48","type":"ui_spacer","name":"spacer","group":"","order":16,"width":1,"height":1},{"id":"85b5f3f2.4d2c8","type":"ui_spacer","name":"spacer","group":"","order":18,"width":2,"height":1},{"id":"3233200c.23d2e","type":"ui_spacer","name":"spacer","group":"","order":20,"width":1,"height":1},{"id":"1a1dd35c.1c98fd","type":"ui_spacer","name":"spacer","group":"","order":22,"width":9,"height":1},{"id":"b9109522.c3d428","type":"ui_spacer","name":"spacer","group":"","order":24,"width":1,"height":1},{"id":"af92d819.900cb8","type":"ui_spacer","name":"spacer","group":"","order":26,"width":9,"height":1},{"id":"5ae63499.6dff5c","type":"ui_spacer","name":"spacer","group":"","order":28,"width":16,"height":1},{"id":"6b05da6b.61d174","type":"ui_spacer","name":"spacer","group":"f2947c80.9b2e2","order":1,"width":2,"height":1},{"id":"db16a9e4.8fc328","type":"ui_spacer","name":"spacer","group":"f2947c80.9b2e2","order":2,"width":2,"height":1},{"id":"69d455b4.2527ac","type":"ui_spacer","name":"spacer","group":"f2947c80.9b2e2","order":3,"width":2,"height":1},{"id":"c6678ebe.52abc","type":"ui_spacer","name":"spacer","group":"442a1f5e.36704","order":1,"width":8,"height":1},{"id":"173aee6a.245e92","type":"ui_spacer","name":"spacer","group":"442a1f5e.36704","order":3,"width":2,"height":1},{"id":"33734fc5.291c2","type":"ui_spacer","name":"spacer","group":"442a1f5e.36704","order":5,"width":2,"height":1},{"id":"83c7059.e34b3f8","type":"ui_spacer","name":"spacer","group":"442a1f5e.36704","order":7,"width":2,"height":1},{"id":"35aaa61e.955d9a","type":"ui_spacer","name":"spacer","group":"442a1f5e.36704","order":9,"width":2,"height":1},{"id":"84a47b72.e0c368","type":"ui_spacer","name":"spacer","group":"442a1f5e.36704","order":11,"width":2,"height":1},{"id":"30ac0f04.14698","type":"ui_spacer","name":"spacer","group":"442a1f5e.36704","order":13,"width":2,"height":1},{"id":"c6de08e5.e56f28","type":"ui_spacer","name":"spacer","group":"442a1f5e.36704","order":15,"width":2,"height":1},{"id":"4a0f3a7f.1cccf4","type":"ui_spacer","name":"spacer","group":"442a1f5e.36704","order":16,"width":8,"height":1},{"id":"7e1bd3d3.49e9dc","type":"ui_spacer","name":"spacer","group":"442a1f5e.36704","order":18,"width":2,"height":1},{"id":"9d8a4b53.9fe788","type":"ui_spacer","name":"spacer","group":"442a1f5e.36704","order":20,"width":2,"height":1},{"id":"375601aa.587b7e","type":"ui_spacer","name":"spacer","group":"442a1f5e.36704","order":22,"width":2,"height":1},{"id":"472d29dc.9b3f58","type":"ui_spacer","name":"spacer","group":"442a1f5e.36704","order":24,"width":2,"height":1},{"id":"45ba7c6c.3d1de4","type":"ui_spacer","name":"spacer","group":"442a1f5e.36704","order":26,"width":2,"height":1},{"id":"de65fbba.06f8a8","type":"ui_spacer","name":"spacer","group":"442a1f5e.36704","order":27,"width":8,"height":1},{"id":"d545749d.6037a8","type":"ui_spacer","name":"spacer","group":"442a1f5e.36704","order":29,"width":2,"height":1},{"id":"d637e689.8f2a28","type":"ui_spacer","name":"spacer","group":"46587.1a33aa7a","order":2,"width":2,"height":1},{"id":"837506b8.ed2db8","type":"ui_spacer","name":"spacer","group":"46587.1a33aa7a","order":4,"width":2,"height":1},{"id":"472ce625.952c38","type":"ui_spacer","name":"spacer","group":"46587.1a33aa7a","order":6,"width":2,"height":1},{"id":"3b22cbff.bb6fe4","type":"ui_spacer","name":"spacer","group":"46587.1a33aa7a","order":8,"width":2,"height":1},{"id":"b2f65b9e.3d9a38","type":"ui_spacer","name":"spacer","group":"46587.1a33aa7a","order":10,"width":2,"height":1},{"id":"507e77b4.04c7a8","type":"ui_spacer","name":"spacer","group":"46587.1a33aa7a","order":12,"width":2,"height":1},{"id":"58262776.04cde8","type":"ui_spacer","name":"spacer","group":"46587.1a33aa7a","order":13,"width":8,"height":1},{"id":"af67606.514f7a","type":"ui_spacer","name":"spacer","group":"46587.1a33aa7a","order":16,"width":2,"height":1},{"id":"16be2889.c5e2f7","type":"ui_spacer","name":"spacer","group":"46587.1a33aa7a","order":19,"width":2,"height":1},{"id":"77b4ccd8.818424","type":"ui_spacer","name":"spacer","group":"46587.1a33aa7a","order":22,"width":2,"height":1},{"id":"4f2cf05c.fd1c4","type":"ui_spacer","name":"spacer","group":"46587.1a33aa7a","order":25,"width":2,"height":1},{"id":"aaa77324.d4007","type":"ui_spacer","name":"spacer","group":"46587.1a33aa7a","order":28,"width":2,"height":1},{"id":"45fdcd41.a67bd4","type":"ui_spacer","name":"spacer","group":"7fa8e646.93d818","order":7,"width":18,"height":1},{"id":"9ed15cf.7bc34a","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#edb212","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#efb210","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Integrador2","default":"#4B7930","baseColor":"#edb212","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#edb212","edited":true},"page-titlebar-backgroundColor":{"value":"#edb212","edited":true},"page-backgroundColor":{"value":"#241c24","edited":true},"page-sidebar-backgroundColor":{"value":"#000000","edited":true},"group-textColor":{"value":"#ffffff","edited":true},"group-borderColor":{"value":"#241c24","edited":true},"group-backgroundColor":{"value":"#241c24","edited":true},"widget-textColor":{"value":"#ffffff","edited":true},"widget-backgroundColor":{"value":"#edb212","edited":true},"widget-borderColor":{"value":"#323232","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Automation Tests","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c467b276.39485","type":"ui_group","name":"Sensors","tab":"7894fc0d.fc8084","order":2,"disp":true,"width":"5","collapse":false},{"id":"171132c7.ece67d","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7894fc0d.fc8084","type":"ui_tab","name":"Climate","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"4b0b7bd8.dde12c","type":"ui_group","name":"Charts","tab":"7894fc0d.fc8084","order":3,"disp":true,"width":"11","collapse":false},{"id":"8e5fbeb6.8128b8","type":"ui_group","name":"Diseases Risk","tab":"7894fc0d.fc8084","order":4,"disp":true,"width":"6","collapse":false},{"id":"44c31867.e2d008","type":"ui_group","name":"Controls","tab":"7894fc0d.fc8084","order":1,"disp":true,"width":"3","collapse":false},{"id":"24a47b2c.50b634","type":"exec","z":"7cad89d9.ba5668","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Temperature","x":350,"y":120,"wires":[["1823fd9f.c461b2"],[],[]]},{"id":"f3e9aff6.ebad8","type":"inject","z":"7cad89d9.ba5668","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":120,"wires":[["24a47b2c.50b634"]]},{"id":"1823fd9f.c461b2","type":"function","z":"7cad89d9.ba5668","name":"CPU Temperature","func":"str = msg.payload\nmsg.payload = str.substring(5, 9)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":120,"wires":[["244a3da5.5ccbf2"]]},{"id":"c522cdd3.de083","type":"comment","z":"7cad89d9.ba5668","name":"Send a command on the terminal to get the CPU temperature","info":"","x":460,"y":60,"wires":[]},{"id":"a6e66e24.246eb","type":"ui_chart","z":"447c6f81.3b7a","name":"Temperature Chart","group":"4b0b7bd8.dde12c","order":1,"width":"10","height":"4","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"40","removeOlder":"12","removeOlderPoints":"17280","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1190,"y":80,"wires":[[]]},{"id":"f2c9049d.343428","type":"ui_chart","z":"447c6f81.3b7a","name":"Humidity Chart","group":"4b0b7bd8.dde12c","order":2,"width":"10","height":"4","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"17280","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1180,"y":180,"wires":[[]]},{"id":"dff18ee1.f7d5d","type":"ui_gauge","z":"447c6f81.3b7a","name":"","group":"c467b276.39485","order":3,"width":"4","height":"4","gtype":"donut","title":"Light","label":"","format":"{{value}}","min":"0","max":"1023","colors":["#000080","#c0c0c0","#ffff80"],"seg1":"","seg2":"","x":1150,"y":220,"wires":[]},{"id":"c93b1e3a.d4f99","type":"ui_chart","z":"447c6f81.3b7a","name":"Light Chart","group":"4b0b7bd8.dde12c","order":3,"width":"10","height":"4","label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1023","removeOlder":"12","removeOlderPoints":"17280","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1170,"y":260,"wires":[[]]},{"id":"963b9675.66c3d","type":"exec","z":"447c6f81.3b7a","command":"python3 Iintegrador2/main.py","addpay":"payload","append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":370,"y":340,"wires":[["5584c6af.c5c5e","aaf7a1bf.8c13f"],[],[]]},{"id":"5584c6af.c5c5e","type":"csv","z":"447c6f81.3b7a","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"temp,umi,luz,d1, d2, d3, d4","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":610,"y":320,"wires":[["d3f75750.e7632","8c21d96d.ee74f","38c76b81.b9747c","96f15959.b4ced","8b9519d6.0dc95","27914a15.d86cde","ad429a7f.1d7e5"]]},{"id":"244a3da5.5ccbf2","type":"ui_gauge","z":"7cad89d9.ba5668","name":"","group":"f8789571.c993f8","order":1,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"units","format":"{{value}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":830,"y":120,"wires":[]},{"id":"ab3492b0.fa195","type":"ui_gauge","z":"447c6f81.3b7a","name":"","group":"c467b276.39485","order":2,"width":"4","height":"4","gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#5a5a5a","#34b92d","#0202ff"],"seg1":"","seg2":"","x":1159.166835784912,"y":133.33336925506592,"wires":[]},{"id":"d3f75750.e7632","type":"function","z":"447c6f81.3b7a","name":"","func":"str = msg.payload\nmsg.payload = str.temp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":140,"wires":[["a6e66e24.246eb","4e7da728.df7028"]]},{"id":"8c21d96d.ee74f","type":"function","z":"447c6f81.3b7a","name":"","func":"str = msg.payload\nmsg.payload = str.umi\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":200,"wires":[["ab3492b0.fa195","f2c9049d.343428"]]},{"id":"38c76b81.b9747c","type":"function","z":"447c6f81.3b7a","name":"","func":"str = msg.payload\nmsg.payload = str.luz\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":260,"wires":[["dff18ee1.f7d5d","c93b1e3a.d4f99"]]},{"id":"aaf7a1bf.8c13f","type":"debug","z":"447c6f81.3b7a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":200,"wires":[]},{"id":"96f15959.b4ced","type":"function","z":"447c6f81.3b7a","name":"","func":"str = msg.payload\nmsg.payload = str.d1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":320,"wires":[["590059a.6c197a8"]]},{"id":"8b9519d6.0dc95","type":"function","z":"447c6f81.3b7a","name":"","func":"str = msg.payload\nmsg.payload = str.d2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":380,"wires":[["e9ce561.150f2a8"]]},{"id":"27914a15.d86cde","type":"function","z":"447c6f81.3b7a","name":"","func":"str = msg.payload\nmsg.payload = str.d3\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":440,"wires":[["8408e88e.19434"]]},{"id":"ad429a7f.1d7e5","type":"function","z":"447c6f81.3b7a","name":"","func":"str = msg.payload\nmsg.payload = str.d4\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":500,"wires":[["c2561935.f6bc8"]]},{"id":"4e7da728.df7028","type":"ui_gauge","z":"447c6f81.3b7a","name":"","group":"c467b276.39485","order":1,"width":"4","height":"4","gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"-20","max":"50","colors":["#0000ff","#e6e600","#ca3838"],"seg1":"0","seg2":"30","x":1169.999843597412,"y":34.66656303405762,"wires":[]},{"id":"590059a.6c197a8","type":"ui_artlessgauge","z":"447c6f81.3b7a","group":"8e5fbeb6.8128b8","order":1,"width":0,"height":0,"name":"","icon":"","label":"Ferrugem Comum","unit":"","layout":"linear","decimals":0,"differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff0000","t":"min","dot":0},{"val":3,"col":"#ff0000","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":1180,"y":320,"wires":[]},{"id":"e9ce561.150f2a8","type":"ui_artlessgauge","z":"447c6f81.3b7a","group":"8e5fbeb6.8128b8","order":1,"width":0,"height":0,"name":"","icon":"","label":"Mancha de Phaeosphaeria","unit":"","layout":"linear","decimals":0,"differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff0000","t":"min","dot":0},{"val":3,"col":"#ff0000","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":1180,"y":380,"wires":[]},{"id":"8408e88e.19434","type":"ui_artlessgauge","z":"447c6f81.3b7a","group":"8e5fbeb6.8128b8","order":1,"width":0,"height":0,"name":"","icon":"","label":"Ferrugem Tropical","unit":"","layout":"linear","decimals":0,"differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff0000","t":"min","dot":0},{"val":3,"col":"#ff0000","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":1180,"y":440,"wires":[]},{"id":"c2561935.f6bc8","type":"ui_artlessgauge","z":"447c6f81.3b7a","group":"8e5fbeb6.8128b8","order":1,"width":0,"height":0,"name":"","icon":"","label":"Podridão de Stenocarpella","unit":"","layout":"linear","decimals":0,"differential":false,"minmax":false,"colorTrack":"#555555","style":"","colorFromTheme":true,"property":"payload","secondary":"secondary","inline":false,"animate":true,"sectors":[{"val":0,"col":"#ff0000","t":"min","dot":0},{"val":3,"col":"#ff0000","t":"max","dot":0}],"lineWidth":3,"bgcolorFromTheme":true,"diffCenter":"","x":1180,"y":500,"wires":[]},{"id":"8725d248.1fea68","type":"ui_button","z":"447c6f81.3b7a","name":"","group":"44c31867.e2d008","order":4,"width":"2","height":"1","passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":340,"wires":[["963b9675.66c3d"]]}]